<div class="container" id='ability'>
  <h2 class='ability'>Abilities</h2>
  <p class='lead'>
  "Without knowledge, life is no more than the shadow of death"
  <br>
  <span class='lead2'>-Moliere</span>
  <br/><br/><br/>
</p>
<hr>
<div class="row">
  <div class="col-md-6" style="font-weight: bold;">
    <h2 class='skill'>Skills</h2>
    <br>
    <li><span>HTML(5)</span>
      <i class="far fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
    </li>
    <br>
    <li><span>CSS(3)</span>
    <i class="far fa-star ability-score"></i>
    <i class="fas fa-star-half-alt ability-score"></i>
    <i class="fas fa-star ability-score"></i>
    <i class="fas fa-star ability-score"></i>
    <i class="fas fa-star ability-score"></i>
    </li>
    <br>
    <li><span>Javascript</span>
      <i class="far fa-star ability-score"></i>
      <i class="far fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
    </li>
    <br>
    <li><span>JQuery</span>
      <i class="far fa-star ability-score"></i>
      <i class="far fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
    </li>
    <br>
    <li><span>Bootstrap</span>
      <i class="far fa-star ability-score"></i>
      <i class="fas fa-star-half-alt ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
      <i class="fas fa-star ability-score"></i>
    </li>
    </div>
    <div class="col-md-6" style="font-weight: bold; margin-top: 70px;">
      <li><span>React.js</span>
        <i class="far fa-star ability-score"></i>
        <i class="far fa-star ability-score"></i>
        <i class="fas fa-star-half-alt ability-score"></i>
        <i class="fas fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
      </li>
      <br>
      <li><span>MySQL</span>
        <i class="far fa-star ability-score"></i>
        <i class="far fa-star ability-score"></i>
        <i class="far fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
      </li>
      <br>
      <li><span>Python</span>
        <i class="far fa-star ability-score"></i>
        <i class="fas fa-star-half-alt ability-score"></i>
        <i class="fas fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
      </li>
      <br>
      <li><span>Command Line Interface</span>
        <i class="far fa-star ability-score"></i>
        <i class="far fa-star ability-score"></i>
        <i class="fas fa-star-half-alt ability-score"></i>
        <i class="fas fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
      </li>
      <br>
      <li><span>Object Oriented Programming(OOP)</span>
        <i class="far fa-star ability-score"></i>
        <i class="far fa-star ability-score"></i>
        <i class="fas fa-star-half-alt ability-score"></i>
        <i class="fas fa-star ability-score"></i>
        <i class="fas fa-star ability-score"></i>
      </li>
  </div>
</div>
  
    <hr>
    <br>
      <div class="row">
        <div class="col-md-6" style="font-weight: bold;">
          <h2 class='skill'>Languages</h2>
          <br>
          <li><span>French(petit peu)</span>
            <i class="far fa-star ability-score"></i>
            <i class="far fa-star ability-score"></i>
            <i class="far fa-star ability-score"></i>
            <i class="far fa-star ability-score"></i>
            <i class="fas fa-star ability-score"></i>
          </li>
          <br>
          <li><span>Finnish(jonkin verran)</span>
            <i class="far fa-star ability-score"></i>
            <i class="far fa-star ability-score"></i>
            <i class="far fa-star ability-score"></i>
            <i class="fas fa-star-half-alt ability-score"></i>
            <i class="fas fa-star ability-score"></i>
          </li>
          <br>
          </div>
          <div class="col-md-6" style="font-weight: bold; margin-top: 70px;">
          <li><span>English</span>
            <i class="fas fa-star-half-alt ability-score"></i>
            <i class="fas fa-star ability-score"></i>
            <i class="fas fa-star ability-score"></i>
            <i class="fas fa-star ability-score"></i>
            <i class="fas fa-star ability-score"></i>
          </li>
        </div>
      </div>
      <hr>
</div>
