<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <!--For anyone wondering how I changed the background color, just get that svg tag outta the way. Then select the class u want the background cololor to be and, assign it!-->
  <div>
  <div class="carousel-inner">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class='w3-animate-bottom'>Hey! I'm Krittika</h1>
            <h4 class='w3-animate-bottom'>I'm a web developer in progress</h4>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="container">
          <div class="carousel-caption">
            <h1 style='fon'>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <i class="fab fa-github-square"></i>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
