<div id='contactMe' class='jumbotron'>
  <h1 style="font-family: 'Varela Round', sans-serif; text-align: center;">Contact Me</h1><br/>
  <form class="form-contact" action="/" method="post">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" name="postName" placeholder="Your First Name" required><br/>
      <label>Email(optional)</label>
      <input class="form-control" type="text" name="userEmail" placeholder="Email"><br/>
      <label>Title</label>
      <input class="form-control" type="text" placeholder="Issue/Comment Title" name="postTitle" required><br/>
      <label>Post</label>
      <textarea class="form-control" name="postBody" rows="5" cols="30" placeholder="Main Content" required></textarea><br/>
      <div class="g-recaptcha" data-sitekey="6LcZvucZAAAAAKbfNNk3vKsZ047p12MoE58K6-bx" required></div>

    </div>
    <button class="btn btn-info" type="submit" name="button">Send</button>
  </form>
</div>
