
    <div class="footer">
    <p>
        <a href="https://www.github.com/Krittika-Saha" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
        <p style='color:black'> © Copyright 2020</p>
    </p>
  </div>
