@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Varela+Round&display=swap');

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
  scroll-behavior: smooth;
}
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #ffccff;
  font-family: 'Montserrat', sans-serif;
}
hr{
  color: #ffccff;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


.carousel-item h1{
    color: #13b3b9;
    font-size: 2rem;
    margin-right: 35%;
    font-family: 'Montserrat', sans-serif;
}
.carousel-item h4{
    color: #898b8a;
    margin-right: 50%;
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: 10%
}

.ability{
  text-align: center;
  font-size: 3rem;
  font-family: 'Varela Round', sans-serif;
  color: #13b3b9;
}
.lead{
  text-align: center;
  font-size: 4/3rem;
  color: #898b8a;
}
.lead2{
  float: right;
  font-size: 1rem;
  color: #898b8a;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
#abilities {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #898b8a;
}
.skill{
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  color: #13b3b9;
}
#profile{
  width: 30.5%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 90px
}
#coding{
  width: 30.5%;
  height: 90%;
  position: absolute;
  right: 0px;
  bottom: 90px
}

#explore{
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 65px
}
.carousel-control-prev{
  color:#898b8a;
}
.ability-score{
  float: right;
  color: #13b3b9;
}
#slides{
  background-color: #f8edf8;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f6f5f1;
  text-align: center;
}
.footer i {
  font-size:35px;
  margin-right: 20px;
  color: black;
}
#projects{
  background-color: #f8edf8;
}

/* Project Card */

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  opacity: 0;
  float: left;
  position: absolute;
  top: 20%;
}

.container2:hover .image {
  opacity: 0.3;
}
.container2:hover{
  background-color:rgba(7, 67, 69, 0.3);
}
.container2:hover .middle {
  opacity: 1;
}

.text {
  color: #074345;
  font-size: 16px;
  padding: 16px 32px;
}

.text hr{
  width: 100%;
  font-weight:bold;
}
.text p{
  font-weight:bold;
}
#container2{
  margin-left: 10%;
  width: 50%
}
ul{
  list-style-type: none;
}
.joke h4{
  color:#898b8a;
  font-family: 'Varela Round', sans-serif;
  text-align: justify;
}
.joke{
  margin-top: 10%;
  margin-left: 20%;

}
